/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

div#login #remember_me_holder label {
    width: 150px;
}

div#login .inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div#login .inner, div#login .inner .fheader {
    background-color: #f7f7f7;
    border: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ddd;
}

input[type="file"] {
    line-height: normal;
}

.bulk-upload {
    position: absolute;
    bottom: 17px;
    width: 95%;
}